<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<script src="/static/js/jquery-1.12.4.min.js"></script>
<head>
<link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">
</HEAD>
<body>
	{{test}}	
	<div id="css_header">
		<div class="inner">
			<div id="logo">
			<img src="{{ url_for ('static', filename='images/logo.gif') }}" ALT="在庫管理">
			</div>
		</div>
	</div>

	<div id="css_topicpath">
		<A href="{{ url_for ('login') }}">トップページ</A> ＞  {{vntGname}}
		<a href="eh109U?fnc=add"><IMG alt="アイテム追加" border="0" src="{{ url_for ('static', filename='images/AddButton.png') }}"></a>
	</div>
 
	<FORM NAME="frmSubmit" ACTION="eh{{ vntGid }}" METHOD="get" autocomplete="off">
		<div class="search">
			<INPUT TYPE="TEXT" NAME="Rq_ew" SIZE="8" MAXLENGTH="50" VALUE="{{ vnt_ew }}" style="font-size: 30px;">
			<button type="submit" value="register"  class="addbutton" style="font-size:150%;width:130px">検索</button>
		
			<INPUT TYPE="HIDDEN" NAME="id" VALUE="">
			<INPUT TYPE="HIDDEN" NAME="EADDCHK" VALUE="">
		</div>
	</FORM>

	<div id="my_contents">
		{% include "pagen.html" %}
		<div id="mymain">
		<div class="contents">
		<table>
    	<TR>
		<TH NOWRAP width="250">アイテム名</TH> 
		<TH NOWRAP width="50">在庫数</TH> 
		<TH NOWRAP width="150">棚番号</TH> 
		</TR>
	
		{% for row in res %}
		<TR>
		<TD style="font-size: 26px;"><a href="eh109U?id={{ row[4]  }}">({{row[0]}}）{{row[1]}}</a></TD>
		<TD style="font-size: 20px;">{{row[2]}}</TD>
		<TD style="font-size: 26px;">{{row[3]}}</TD>
		</TR>
		{% endfor %}
	
		</table>
		</div>
	</div>

</body>
</html>