<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<script src="/static/js/jquery-1.12.4.min.js"></script>
<head>
<link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">
</HEAD>
<body>
  
	<div id="css_header">
		<div class="inner">
			<div id="logo">
			<img src="{{ url_for ('static', filename='images/logo.gif') }}" ALT="在庫管理">
			</div>
		</div>
	</div>

	<div id="css_topicpath">
		<A href="{{ url_for ('login') }}">トップページ</A> ＞  {{vntGname}}
	</div>
 	
	<div id="my_contents">
		{% include "pagen.html" %}
		<div id="mymain">
		<div class="contents">
		<table>
    	<TR>
		<TH NOWRAP width="200">アイテム名</TH> 
		<TH NOWRAP width="50">入庫日</TH> 
		<TH NOWRAP width="40">入庫数</TH> 
		<TH NOWRAP width="40">在庫数</TH> 
		<TH NOWRAP width="100">棚番号</TH> 
		</TR>
		
		{% for row in res %}
		<TR>
		<TD style="font-size: 30px;">({{row[0]}}）{{row[1]}}</TD>
		<TD style="text-align:right;font-size: 26px;">{{row[5]}}</TD>
		<TD style="text-align:right;font-size: 26px;">{{row[2]}}</TD>
		<TD style="text-align:right;font-size: 26px;">{{row[3]}}</TD>
		<TD style="font-size: 26px;">{{row[4]}}</TD>
		</TR>
		{% endfor %}
	
		</table>
		</div>
	</div>

</body>
</html>