<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<script src="/static/js/jquery-3.7.1.min.js"></script>

<head>
<link rel="stylesheet" href={{ url_for ('static', filename='css/main.css') }}>
</head>
<body>
    <div id="css_header">
        <div class="inner">
           <div id="logo">
           <img src="{{ url_for ('static', filename='images/logo.gif') }}" ALT="在庫管理">
           </div>
        </div>
     </div>
     
     <div id="my_contents">
     <div id="mymain">
     <h2>ログイン</h2>
     <div id="mihon">
     
     <br>
    <FORM NAME="frmSubmit" ACTION="/" METHOD="post" autocomplete="off" >
    <TABLE >

        <TR >
        <TD colspan="2"><FONT size="2">▼</FONT><FONT size="2">担当コードを入力してください。</FONT></TD>
        </TR>
    
        <tr >
        <th>担当コード</th>
        <td><div class="logtxt"> 
        <INPUT id="id_UserID" TYPE="text" NAME="Rq_UserID" SIZE="8" MAXLENGTH="5" VALUE=""  style="font-size: 32px;type=tel" onkeyup="setNextFocus(this)" tabindex="1">
        </div>	<!-- logtxt -->
        </td>
        </tr>
    
    </table>
    
    <INPUT TYPE="HIDDEN" NAME="EADDCHK" VALUE="">
    </form> 
    </div> <!-- mymihon E -->

    </div>
    </div>	<!-- main -->
 
</body>
<SCRIPT LANGUAGE="JavaScript">
    /////////////////////////////////////////////////////////////
    //フォームイニシャライズ
    /////////////////////////////////////////////////////////////
        document.forms['frmSubmit'].elements['EUSERID'].focus();
    
    //	if (navigator.javaEnabled()){
    //	} else {
    //		window.alert("javaを有効にして下さい");
    //	}
    
    /////////////////////////////////////////////////////////////
    //ファンクションボタンイベント
    /////////////////////////////////////////////////////////////
    function page_submit(){
    //	if ( jf_FormInputChk() != false ){
            document.forms['frmSubmit'].EADDCHK.value="login";
            document.forms['frmSubmit'].submit();
    //	}
    }

    /////////////////////////////////////////////////////////////
//フォーム項目入力チェック
/////////////////////////////////////////////////////////////
function jf_FormInputChk(){
//ユーザＩＤ
//	if (jpf_FormInputChk("EUSERID","X",20,1,"ユーザＩＤ")==false){
//		return false;
	}

function setNextFocus(obj){
  if(obj.value.length >= obj.maxLength){
		page_submit();
//		var es = document.frmSubmit.elements;
//		for(var i=0;i<es.length;i++){
//			if(es[i] == obj){
//				es[i+1].focus();
//				break;
//			}
//		}
	}
}
</script>
</html>