{% extends 'basetmp.html' %}
{% block main %}
	 	 
	 <div id="css_topicpath">
	 <A href="{{ url_for ('login') }}">トップページ</A> ＞  {{vntGname}}
	 </div>

<FORM NAME="frmSubmit" ACTION="/eh10/eh{{ vntGid }}" METHOD="post" autocomplete="off" >

	<TABLE width="445">

	<tr>
	<td>
	<div style="font-size: 30px;color:blue">【コード】
	<INPUT ID="id_ItemCd" TYPE="text" NAME="Rq_ItemCd" SIZE="4" MAXLENGTH="6" VALUE="{{  res[0] }}" style="font-size: 30px;" tabindex="1">
	<div>
	</td>
	</tr>
	
	<tr>
	<td>
	<div style="font-size: 30px;color:blue">【名称】
	<INPUT TYPE="text" NAME="Rq_ItemNm" SIZE="18" MAXLENGTH="40" VALUE="{{  res[1] }}" style="font-size: 30px;ime-mode:active" tabindex="2">
	<div>
	</td>
	</tr>

	<tr>	
	<td>
	<div style="font-size: 30px;color:blue">【在庫数】
	<INPUT TYPE="text" NAME="Rq_ItemSuu" SIZE="5" MAXLENGTH="4" VALUE="{{  res[2] }}" style="font-size: 30px;" tabindex="5">
	<div>
	</td>
	</tr>
	
	<tr>	
	<td>
	<div style="font-size: 30px;color:blue">【下限数】
	<INPUT TYPE="text" NAME="Rq_ItemMinSuu" SIZE="5" MAXLENGTH="4" VALUE="{{  res[3] }}" style="font-size: 30px;" tabindex="6">
	<div>
	</td>
	</tr>
	
	<tr>	
	<td>
	<div style="font-size: 30px;color:blue">【棚番号】
	<INPUT TYPE="text" NAME="Rq_ItemTanaCd" SIZE="12" MAXLENGTH="20" VALUE="{{  res[4] }}" style="font-size: 30px;" tabindex="8">
	<div>
	</td>
	</tr>

	<tr>	
	<td>
	<div style="font-size: 30px;color:blue">【備考】
	<INPUT TYPE="text" NAME="Rq_ItemBikou" SIZE="18" MAXLENGTH="200" VALUE="{{  res[5] }}" style="font-size: 30px;" tabindex="8">
	<div>
	</td>
	</tr>
	</TABLE>
	
	<p>
	{% if vnt_fnc=='add' %}
	<BUTTON TYPE="BUTTON" class="addbutton" onClick="add_submit();" tabindex="16">登録</BUTTON>
	{% else %}
	<BUTTON TYPE="BUTTON" class="updatebutton" onClick="update_submit();" tabindex="16">更新</BUTTON>
	<BUTTON TYPE="BUTTON" class="deletebutton" onClick="delete_submit();" tabindex="16">削除</BUTTON>
	{% endif %}
	</p>
	<input type="hidden" NAME="EID" VALUE="{{vnt_id}}">
	<input type="hidden" NAME="Rq_fnc" VALUE="{{vnt_fnc}}">
	<INPUT id="id_ItemZaiSuu" type="hidden" NAME="Rq_ItemZaiSuu" >
</FORM>
<SCRIPT LANGUAGE="JavaScript">

	/////////////////////////////////////////////////////////////
	//更新、キャンセルボタンイベント
	/////////////////////////////////////////////////////////////
	
	function page_submit(){
	
		if (document.forms['frmSubmit'].Rq_ItemCd.value=="off"){
				document.forms['frmSubmit'].Rq_fnc.value="off";
				document.forms['frmSubmit'].submit();
		}
	}
	
	function add_submit(){
		//alert("test");
		if (confirm("登録してもよろしいですか？")){
			//if ( jf_FormInputChk() != false ){
				document.forms['frmSubmit'].Rq_fnc.value="add";
				document.forms['frmSubmit'].submit();
			//}
		}
	}

	function update_submit(){
		if (confirm("更新してもよろしいですか？")){
			if ( jf_FormInputChk() != false ){
				document.forms['frmSubmit'].Rq_fnc.value="update";
				document.forms['frmSubmit'].submit();
			}
		}
	}

	function delete_submit(){
		if (confirm("削除してもよろしいですか？")){
			if ( jf_FormInputChk() != false ){
				document.forms['frmSubmit'].Rq_fnc.value="delete";
				document.forms['frmSubmit'].submit();
			}
		}
	}

	function reset_submit(){
		document.forms['frmSubmit'].Rq_fnc.value="reset";
		document.forms['frmSubmit'].Rq_ItemCd.value==""
		document.forms['frmSubmit'].submit();
	}
	
	/////////////////////////////////////////////////////////////
	//フォーム項目入力チェック
	/////////////////////////////////////////////////////////////
	function jf_FormInputChk(){
		
		var ret;
	
		if (jpf_FormInputChk("Rq_ItemCd"	,"X",20,1,"アイテムコード")==false){return false;}
		if (jpf_FormInputChk("Rq_ItemSuu"	,"N",0,1,"アイテム数")==false){return false;}
	}
		
	/////////////////////////////////////////////////////////////
	//ファンクション定義
	/////////////////////////////////////////////////////////////
	//共通ファンクションインクルード
	
	jQuery(function($){
		$('#id_ItemCd').focus();
		// アイテム名称
		$('#id_ItemCd').change(function(){
			$.ajax({
    			type: "POST",
    			url: "/requestM70",
    			data: {Rq_ItemCd : $(this).val()}
			})
    		.then(
				function(response){
					$('#id_ItemCd').focus();
						alert("既にこのコードは登録されています。\n　【ENT】ボタンを押して下さい");
						$('#id_ItemCd').val('');				
				},
				function(){
				}		
			);		
				
			//});
		});
	
	});
</script>
<script src={{ url_for ('static', filename='js/jsfunc.js' )}}></script>

{% endblock %}