{% extends 'basetmp.html' %}
{% block main %}

    <div id="my_contents">
        <div id="mymain">
            <a href="{{ url_for ('logoff') }}"><div style="font-size: 24px;">ログオフ</a></div>({{session["Rq_UserNm"]}})
             <div class="contents">
            {% for row in res %}
            <DIV ID="div1" CLASS="widemenu" STYLE="font-size: 32px;background-color:{{row[3]}}" onmouseover="onMenu(this)" onmouseout="offMenu(this)" onclick="{{row[5]}}">
            <font color="{{row[4]}}">{{row[2]}}</font>
            </DIV>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}	