{% extends 'basetmp.html' %}
{% block main %}
	 	 
	 <div id="css_topicpath">
	 <A href="{{ url_for ('login') }}">トップページ</A> ＞ 
	 <A href="{{ url_for ('eh1050_get') }}">出庫履歴</A> ＞ {{vntGname}}
	 </div>
	
<FORM NAME="frmSubmit" ACTION="/eh10/eh{{vntGid}}" METHOD="post" autocomplete="off" >

	<TABLE width="445">
	<tr>
	<td>
	<div style="font-size: 30px;color:blue">【アイテム】{{  res[1] }}<br>{{  res[2] }}
	</div>
	<SPAN ID="id_ItemNm" style="font-size: 32px"></SPAN>
	</td>
	</tr>

	<tr>
	<td>
	<div style="font-size: 30px;">【棚番号】{{  res[3] }}</div>
	</td>
	</tr>
	
	<tr>
	<td>
	<div style="font-size: 30px;">【在庫数】{{  res[4] }}</div>
	</td>
	</tr>
	
	<tr>
	<td>
	<div style="font-size: 30px;color:green">【出庫数】{{  res[5] }}</div>
	</td>
	</tr>

	<tr>
	<td>
	<div style="font-size: 30px;">【担当名】{{  res[6] }}</div>
	</td>
	</tr>

	</table>
    <div style="font-size: 20px;color:red">アイテムの在庫残数は変更されません</div>
	<p>
	<BUTTON TYPE="BUTTON" class="deletebutton" onClick="delete_submit();" tabindex="16">削除</BUTTON>
	</p>
	<input type="hidden" NAME="EID" VALUE="{{vnt_id}}">
	<input type="hidden" NAME="Rq_fnc" VALUE="{{vnt_fnc}}">
	<INPUT id="id_ItemZaiSuu" type="hidden" NAME="Rq_ItemZaiSuu" >

	<input type="hidden" NAME="EADDCHK" VALUE="">
	
</FORM>
<SCRIPT LANGUAGE="JavaScript">
	/////////////////////////////////////////////////////////////
	//フォームイニシャライズ
	/////////////////////////////////////////////////////////////
	//window.parent.frames('search').document.forms['frmSubmit'].elements('Rq_EigyouCD').focus();
	//function onLoad(){
	//	document.forms['frmSubmit'].elements('Rq_ItemCd').focus();
	//}
	/////////////////////////////////////////////////////////////
	//更新、キャンセルボタンイベント
	/////////////////////////////////////////////////////////////
	

	function delete_submit(){
		if (confirm("削除してもよろしいですか？")){
			document.forms['frmSubmit'].Rq_fnc.value="delete";
			document.forms['frmSubmit'].submit();
		}
	}
	
	/////////////////////////////////////////////////////////////
	//フォーム項目入力チェック
	/////////////////////////////////////////////////////////////
		
	function setNextFocus(obj){
		var vntItemSuu;
		var vntItemZaiSuu;
	
		vntItemSuu = document.forms['frmSubmit'].Rq_ItemSuu.value;
		vntItemZaiSuu = document.forms['frmSubmit'].Rq_ItemZaiSuu.value;
	
		if(obj.value.length >= obj.maxLength){
			if (obj.id == "id_ItemRCd"){
				if (document.forms['frmSubmit'].Rq_ItemCd.value == document.forms['frmSubmit'].Rq_ItemRCd.value && vntItemSuu.length!=0){
					if (Number(vntItemSuu) > Number(vntItemZaiSuu)){
						alert("出庫数が在庫数を超えてます。\n　【ENT】ボタンを押して下さい");
						document.forms['frmSubmit'].elements['Rq_ItemSuu'].value= '';
						document.forms['frmSubmit'].elements['Rq_ItemRCd'].value='';
						document.forms['frmSubmit'].elements['Rq_ItemSuu'].focus();
						return false;
					} else {
						add_submit();
					}
				} else {
					if (vntItemSuu.length == 0){
						alert("出庫数を入力して下さい。\n　【ENT】ボタンを押して下さい");
						document.forms['frmSubmit'].elements['Rq_ItemRCd'].value='';
						document.forms['frmSubmit'].elements['Rq_ItemSuu'].focus();
						return false;
					} else {
						alert("アイテムコードが一致していません。\n　【ENT】ボタンを押して下さい");
						document.forms['frmSubmit'].elements['Rq_ItemRCd'].focus();
						document.forms['frmSubmit'].elements['Rq_ItemRCd'].value='';
						return false;
					}
				}
			}
			var es = document.frmSubmit.elements;
			for(var i=0;i<es.length;i++){
				if(es[i] == obj){
					es[i+1].focus();
					break;
				}
			}
		}
	}
	
	/////////////////////////////////////////////////////////////
	//ファンクション定義
	/////////////////////////////////////////////////////////////
	//共通ファンクションインクルード
	
	jQuery(function($){
		$('#id_ItemCd').focus();
		// アイテム名称
		$('#id_ItemCd').change(function(){
          			
			$.ajax({
    			type: "POST",
    			url: "/requestM70",
    			data: {Rq_ItemCd : $(this).val()}
			})
    		.then(
				function(response){
				
					$('#id_ItemNm').text('');
					$('#id_ItemZaiSuu').val('');
					$('#id_ItemZaikoSuu').text('');
					$('#id_ItemTanaCd').text('');
					$('#id_ItemDelFlg').text('');
					
					$('#id_ItemNm').text(response.itemNm);
					
					if(response.itemDelFlg!=0){
						$('#id_ItemCd').focus();
						alert("このアイテムは使用期限切れです。\n　【ENT】ボタンを押して下さい");
						$('#id_ItemCd').val(null);
						//reset_submit();
					} else {
						$('#id_ItemNm').text(response.itemNm);
						$('#id_ItemZaiSuu').val(response.itemSuu);
						$('#id_ItemZaikoSuu').text(response.itemSuu);
						$('#id_ItemTanaCd').text(response.itemTanaCd);
						$('#id_ItemDelFlg').text(response.itemDelFlg);
					}
				},
				function(){
						$('#id_ItemCd').focus();
						alert("該当するアイテムコードがありません。\n　【ENT】ボタンを押して下さい");
						$('#id_ItemNm').text('');
						$('#id_ItemZaiSuu').val('');
						$('#id_ItemZaikoSuu').text('');
						$('#id_ItemTanaCd').text('');
						$('#id_ItemDelFlg').text('');
			});
		
			//	
			//	if(json.itemSession==[]){
			//		alert("接続が切れました　再ログインが必要です。\n　【ENT】ボタンを押して下さい");
			//		reset_submit();
			//	}

		})
		
		//$('#id_ItemSuu').change(function(){
	    //	if ($.isNumeric($('#id_ItemSuu').val())) {
		//		$('#messageItemSuu').text('');
		//	} else {
     	//      	$('#messageItemSuu').text('数値で入力してください。').css("color","red");
		//		$('#id_ItemSuu').val(null).focus();
		//		return false;
    	//    }
		//});
	});
</script>
<script src={{ url_for ('static', filename='js/jsfunc.js' )}}></script>

{% endblock %}