{% extends 'basetmp.html' %}
{% block main %}

	<div id="css_topicpath">
		<A href="{{ url_for ('login') }}">トップページ</A> ＞  {{vntGname}}
	</div>
 	
	<div id="my_contents">
		{% include "pagen.html" %}
		<div id="mymain">
		<div class="contents">
		<table>
    	<TR>
		<TH NOWRAP width="200">アイテム名</TH> 
		<TH NOWRAP width="50">在庫数</TH> 
		<TH NOWRAP width="50">下限数</TH> 
		<TH NOWRAP width="50">発注予定数</TH> 
		<TH NOWRAP width="100">棚番号</TH> 
		</TR>
		
		{% for row in res %}
		<TR>
		<TD style="font-size: 30px;">({{row[0]}}）{{row[1]}}</TD>
		<TD style="text-align:right;font-size: 26px;">{{row[2]}}</TD>
		<TD style="text-align:right;font-size: 26px;">{{row[3]}}</TD>
		<TD style="text-align:right;font-size: 26px;">{{row[4]}}</TD>
		<TD style="font-size: 26px;">{{row[5]}}</TD>
		</TR>
		{% endfor %}
	
		</table>
		</div>
	</div>

{% endblock %}
