{% extends 'basetmp.html' %}
{% block main %}

	<div id="css_topicpath">
		<A href="{{ url_for ('login') }}">トップページ</A> ＞  {{vntGname}}
	</div>
 
	<FORM NAME="frmSubmit" ACTION="eh{{ vntGid }}" METHOD="get" autocomplete="off">
		<div class="search">
			【アイテム】<INPUT  id="id_ItemCd" TYPE="text" NAME="Rq_ItemCd" SIZE="6" MAXLENGTH="6" VALUE="{{ vnt_ItemCd }}" style="font-size: 30px;">
			<INPUT TYPE="text" NAME="Rq_TukiSuu" SIZE="1" MAXLENGTH="2" VALUE="{{ vnt_TukiSuu }}" style="font-size: 30px;">カ月以内
			<button type="submit" value="register"  class="addbutton" style="font-size:150%;width:130px">検索</button>
		
			<INPUT TYPE="HIDDEN" NAME="id" VALUE="">
			<INPUT TYPE="HIDDEN" NAME="EADDCHK" VALUE="">
		</div>
	</FORM>

	<div id="my_contents">
		{% include "pagen.html" %}

		<div id="mymain">
		<div class="contents">
		<table>
    	<TR>
		<TH NOWRAP width="200">アイテム名</TH>
		<TH NOWRAP width="50">出庫数</TH>  
		<TH NOWRAP width="150">棚番号</TH> 
		<TH NOWRAP width="50">在庫数</TH> 
		</TR>
	
		{% for row in res %}
		<TR>
		<TD style="font-size: 26px;">({{row[0]}}）{{row[1]}}</TD>
		<TD style="font-size: 20px;">{{row[2]}}</TD>
		<TD style="font-size: 26px;">{{row[3]}}</TD>
		<TD style="font-size: 26px;">{{row[4]}}</TD>
		</TR>
		{% endfor %}
	
		</table>
		</div>
	</div>

	<script LANGUAGE="JavaScript">
		jQuery(function($){
			$('#id_ItemCd').focus();
		});
		</script>
{% endblock %}
